.Inicio1_page_contenedor {
    height: 100%;
    width: 100%;
    font-family: system-ui;
    background: #0a0a0a;
    color: white;
    display: flex;
    position: fixed;
}

.Inicio1_main_wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
}

.Inicio1_main_content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.Inicio1_loading {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0a0a0a;
    color: #00ccff;
    font-weight: 800;
}



/* Desktop First Styles (Default) */
.Inicio1_fab_desktop {
    display: flex;
    position: fixed;
    bottom: 1em;
    right: 2em;
    z-index: 1000;
    width: 4.5em;
    height: 4.5em;
    background: #00ccff;
    color: #060606;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 0 0 30px rgba(0, 204, 255, 0.5);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.Inicio1_fab_desktop:hover {
    transform: scale(1.1);
    box-shadow: 0 0 40px rgba(0, 204, 255, 0.7);
}

/* Mobile Media Query */
@media screen and (min-width: 0px) and (max-width: 575px) {
    .Inicio1_page_contenedor {
        font-size: 3vw;
    }

    .Inicio1_fab_desktop {
        display: none;
    }
}