body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: white;
  font-family: system-ui;
  font-size: 1vw;
  overflow-x: hidden;
}

.seleccion {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 0px) and (max-width: 575px) {
  body {
    font-size: 3vw;
  }
}